$body-font-family: 'Montserrat', sans-serif;
$body-font-size: 14px;
$body-font-weight: 400;
$body-line-height: 18px;

$title-font-size: 18px;

$table-font-family: 'Montserrat';
$table-heading-font-family: 'Montserrat Bold';
$table-body-font-size: 14px;

